# DGIGN
*.pt
*.mol2
*.pdb
Diffpool_GIGN/data/
lba_and_lep/dataset
lba_and_lep/dataset_lep
lba_and_lep/dataset_DUDE
lba_and_lep/examples/vir/gnn/all
lba_and_lep/examples/vir/gnn/dataset
lba_and_lep/tests/test_data

