# CheapNet

.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pyc

cross_dataset/data/test2013/*
cross_dataset/data/test2016/*
cross_dataset/data/test2019/*
cross_dataset/data/train/*
cross_dataset/data/valid/*

diverse_protein/dataset/*

lep/dataset/*
